@import "../../app.scss";

.posts-container {
  margin-top: 3rem;
  // position: relative;
  // left: 500px;
  display: flex;
  //   flex-direction: column;
  flex-wrap: wrap;
  //   width: 100%;
  //   align-self: center;
  //   align-items: center;
  //   height: 400px;
  justify-content: center;
  // margin: auto;
  // background-color: rgba(255, 255, 255, 0.15);
  // backdrop-filter: blur(5px);
}

.post-container {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  height: 400px;
  width: 1200px;
  box-shadow: $box-shadow;
  overflow: hidden;
  background: rgba(253, 253, 253, 0.575);

  h1,
  h4,
  h5,
  p {
    margin-bottom: 1.5rem;
    margin-left: 2.5rem;
    line-height: 26px;
  }

  h1 {
    margin-top: 2rem;
  }

  .text-container {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    position: relative;

    span {
      color: #065e81;
      font-weight: 600;
    }

    p {
      font-size: 14px;
      margin-right: 2.5rem;
    }

    .subtitle-box {
      display: flex;
    }
  }

  button {
    position: absolute;
    margin-bottom: 2rem;
    margin-left: 2.5rem;
    left: 0;
    bottom: 0;
  }

  .btn-delete {
    background-color: rgb(193, 70, 70);

    &:hover {
      background-color: rgb(168, 56, 56);
    }
  }
}

.post-image {
  max-width: 50%;
  object-fit: cover;
}
