@import "../../app.scss";

.container {
  form {
    margin-bottom: 6rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #555;

    input,
    textarea {
      margin-bottom: 3rem;
      padding: 1rem;
    }
  }
}

.form-container {
  position: relative;
  color: $text-light-color;
  padding: 0rem 8rem;

  .input-container {
    display: flex;
    flex-direction: column;
    position: relative;

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
      -webkit-text-fill-color: white;

      transition: background-color 5000s ease-in-out 0s;
    }

    label {
      position: absolute;
      top: 0px;
      left: 0px;
      // font-size:16px;
      color: rgb(207, 207, 207);
      pointer-events: none;
      font-weight: 800;
      font-size: 15px;
      transition: all 0.3s ease-in-out;
      text-transform: uppercase;
    }

    input {
      margin-bottom: 2.5rem;
      border: 0;
      border-bottom: 1px solid #555;
      background: transparent;
      width: 100%;
      padding: 8px 0 5px 0;
      font-size: 15px;
      font-weight: 700;
      color: rgb(255, 255, 255);

      &:focus {
        border: none;
        outline: none;
        border-bottom: 1px solid $primary-color;
      }

      &:focus + label,
      &:valid + label {
        top: -17px;
        font-size: 12px;
      }
    }

    textarea {
      margin-bottom: 1rem;
      border: 0;
      border-bottom: 1px solid #555;
      background: transparent;
      width: 100%;
      padding: 8px 0 5px 0;
      font-size: 15px;
      font-weight: 700;
      color: rgb(255, 255, 255);

      &:focus {
        border: none;
        outline: none;
        border-bottom: 1px solid $primary-color;
      }

      &:focus ~ label,
      &:valid ~ label {
        top: -17px;
        font-size: 12px;
      }
    }
  }

  #image {
    margin-top: 1rem;
    font-size: 15px;
  }

  .image-label {
    margin-top: 2rem;
    font-size: 15px;
    font-weight: 800;
    text-transform: uppercase;
    color: rgb(207, 207, 207);
  }

  textarea {
    resize: none;
    // opacity: 0.5;
  }

  .char-left {
    font-size: 14px;
    // text-transform: capitalize;
  }

  .btn-form {
    margin: 1rem 0rem 3rem 0rem;
    align-self: flex-start;
  }
}
