@import "../../app.scss";

.modal-container {
  height: 100vh;
  width: 100vw;
  background: rgba(49, 49, 49, 0.4);
  position: fixed;
  //   background: black;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  //   opacity: 0.4;

  .delete-modal {
    position: relative;
    height: 220px;
    width: 450px;
    text-align: center;
    background: rgba(27, 26, 26, 0.884);
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: $box-shadow;

    p {
      padding-top: 3.6rem;
      padding-bottom: 2.2rem;
    }

    button {
      margin: 0.6rem;
    }

    .cancel-btn {
      background: transparent;
      border: 1px solid white;
      width: 160px;
      // width: 200px;
    }

    .yes-btn {
      background-color: rgb(193, 70, 70);
      width: 160px;

      &:hover {
        background-color: rgb(168, 56, 56);
      }
    }

    .success-msg {
      position: relative;
      bottom: 50px;
    }

    svg {
      width: 100px;
      height: 150px;
    }

    .path {
      stroke-linecap: round;
      stroke-dasharray: 27;
      stroke-dashoffset: -23;
      animation: dash 1000ms ease forwards;
    }

    @keyframes dash {
      to {
        stroke-dashoffset: 0;
      }
    }
  }
}
