@import "./style/mixins.scss";

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,100&family=Righteous&display=swap");

// variables
$primary-color: #77b0df;
$secondary-color: #4897d8;
$darker-blue: #1863b9;

$text-brown-color: rgb(221, 214, 214);
$text-light-color: #ebebeb;
$green-color: #409c3c;

$box-shadow: 0 10px 20px rgba(176, 218, 255, 0.19),
  0 6px 6px rgba(0, 0, 0, 0.23);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

h1 {
  font-family: "Righteous", cursive;
}

// reset

button {
  border: unset;
  background: unset;
  font: unset;
  color: unset;
  cursor: pointer;
}

// buttons
.btn-primary {
  min-width: 130px;
  min-height: 35px;
  font-size: 17px;
  padding: 0.8rem 3rem;
  text-transform: capitalize;
  font-weight: 500;
  background: $secondary-color;
  color: white;
  border-color: $primary-color;
  border: 0px;
  border-radius: 2px;
  box-shadow: $box-shadow;
  transition: all 0.2s;

  &:hover {
    cursor: pointer;
    background: $primary-color;
    // background: rgba(255, 255, 255, 0.5);
    // color: black;
  }

  &:focus {
    outline: none;
  }
}

a {
  color: unset;
  text-decoration: unset;
  @include link();
}
