* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.container {
  margin: 0 auto;
  padding: 1rem;
  max-width: 500px;

  form {
    display: flex;
    flex-direction: column;

    input,
    textarea {
      margin-bottom: 1rem;
      padding: 0.5rem;
    }
  }
}
